@tailwind base;
@tailwind components;
@tailwind utilities;

/* Body styling */
body {
  @apply bg-gray-100 text-neutral-900 font-sans;
}

/* Button styling */
button {
  @apply outline-none;
}

button:focus {
  @apply outline-none;
}